/****Base styles***/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Trebuchet MS", verdana, sans-serif;
	background-color: black;
}
h1 {
	margin-bottom: 30px;
	color: yellow;
	text-align: center;
	margin-top: 30px;
}
/*div#container {
	position: relative;
}*/
.section {
	border: 2px solid white;
	background-color: #1f1f1f;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
	height: 200px;
	position: relative;
}
h2 {
	border-color: white;
	border-left: 2px;
	border-bottom: 2px;
	border-top: 0px;
	border-right: 0px;
	border-style: solid;
	color: white;
	float: right;
	margin-bottom: 5px;
	padding: 2px;
}
#r2d2 {
	background-color: blue;
}
#yoda {
	background-color: green;
}
#chewie {
	background-color: brown;
}
p {
	color: white;
	text-align: center;
	clear: both;
	margin: 10px;
}
.row {
	width: 100%;
}

/***Large styles only***/
@media (min-width: 992px) {
	.col-lg-4 {
		width: 33.33%;
		float: left;
	}
}
/***Medium styles only***/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12 {
		float: left;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
}
